.home{
text-align:center;
}
.home h1{
    font-size: 80px;
    font-family: Impact;
}
.home p {
    font-size: 35px;
  }
.home button {
    width: 250px;
    height: 80px;
    background-color: blue;
    color: white;
  }
.home button:hover{
    background-color: green;
}